.App {
  text-align: center;
  color: #212529;
}

.App h1 {
  font-size: 3rem;
}

.images1 {
  width: 40px;
  margin-top: 10px;
}

.listRates p {
  font-size: 2rem;
  margin: 2rem;

}

.target {
  background-color: #dee2e6;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 28px -4px rgba(27, 21, 36, 0.57);
  -moz-box-shadow: 0px 8px 28px -4px rgba(27, 21, 36, 0.57);
  box-shadow: 0px 8px 28px -4px rgba(27, 21, 36, 0.57);
}